.nested-fields
  %hr
  %h4.header-title.m-l-10
    Please attach your documents if you prefer.
    %span.text-danger Max size: 5MB
  .col-12.card-box
    .form-group.row
      .col-3
        = f.input :id, as: :hidden
        = f.input :file, as: :file, label: false, input_html: { class: 'form-control' }
      .col-2
        = f.object.file_file_name
      .col-1.remove_obj
        = link_to_remove_association "Remove", f, class: 'btn btn-danger btn-rounded mt-1 remove_fields'
