$('#product_list').html('#{escape_javascript render(partial: "searched_products")}');
$('#paginator').html('#{escape_javascript(paginate(@products, :remote => true).to_s)}');
document.activeElement.blur();
$(document).scrollTop( $("#product_list").offset().top ); 
$(".searchbox").val("");  