.row
  - @products.order(:updated_at => :desc).each do |p|
    .col-md-4.col-sm-6.portfolio-item.text-center
      %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
        .portfolio-hover
          .portfolio-hover-content
            %i.fa.fa-plus.fa-3x
        - if p.upload_files.size > 0
          %img.img-fluid.product_img{:alt => "", :src => p.upload_files.first.s3_path(:medium)}
      .portfolio-caption
        %h4
          = p.name
        %p.text-danger
          Giá:
          = format_currency(p.price)
.row
  .box-footer.clearfix
    %ul.pagination.pagination-sm.no-margin.pull-right
      = paginate @products
