#mainNav .navbar-nav .nav-item .nav-link, #mainNav .navbar-brand, .chevron, .no-chevron{
  font-family: 'Encode Sans Semi Condensed', sans-serif !important;
}
.collection_radio_buttons_lable{
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 7px;
  display: inline-block;
}
.remove_fields {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  line-height: 10px;
  border-radius: 5px;
}
.remove_obj{
  position: relative;
}
.product_thumb{
  width: 120px;
  height: 100px;
}
.product_img{
  min-height: 240px !important;
}
.portfolio-link{
  background-color: white;
}
#overlay {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: Black;
  filter: alpha(opacity=60);
  opacity: 0.6;
  -moz-opacity: 0.8;

  .center
  {
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 130px;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
    i {
      color: #fff;
    }
  }
}

@media(max-width: 768px) {
  #overlay {
    width: 100% !important;
    left: 0;
  }
}

#map{
  height: 400px;
  width: 100%;
}


.product_details{
  background-color: white;
}

.advertisement{
  background-color: white;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  margin: 0 auto;
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Arrows */
/* Dots */
.slick-dots li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 8px;
  width: 8px; }

.slick-slider:hover .slick-arrow {
  opacity: 1; }
.slick-slider .slick-arrow {
  opacity: 0;
  position: absolute;
  top: 0;
  background: none;
  border: none;
  margin-top: 0;
  text-indent: -999px;
  text-align: left;
  width: 30px;
  height: 100%;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0, 1, 0.64, 1);
  -o-transition: all 0.3s cubic-bezier(0, 1, 0.64, 1);
  transition: all 0.3s cubic-bezier(0, 1, 0.64, 1); }
  .slick-slider .slick-arrow.slick-prev {
    z-index: 99 !important;
    left: 0; }
    .slick-slider .slick-arrow.slick-prev:after {
      position: relative;
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      left: 10px;
      margin-top: -10px;
      border-width: 2px 0 0 2px;
      border-style: solid;
      border-color: #fff;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .slick-slider .slick-arrow.slick-next {
    right: 0; }
    .slick-slider .slick-arrow.slick-next:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      right: 0;
      margin-top: -10px;
      border-width: 0 2px 2px 0;
      border-style: solid;
      border-color: #fff;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
.slick-slider .slick-dots {
  position: absolute;
  bottom: .4em;
  width: 100%; }
  .slick-slider .slick-dots li {
    display: inline-block;
    vertical-align: top;
    margin: 0 .4em;
    width: 8px;
    height: 8px;
    border-radius: 50em;
    overflow: hidden; }
    .slick-slider .slick-dots li button {
      background: rgba(255, 255, 255, 0.6);
      border: none;
      width: 100%;
      height: 100%;
      text-indent: -9999px;
      padding: 0; }
    .slick-slider .slick-dots li.slick-active button {
      background: #fff; }

.product_details{
  padding: 10px;
  h4{
    color: Black;
  }
  h5{
    color: rgb(94,126,183);
  }
  h3{
    color: red;
    font-size: 17px;
  }
  h6{
    color: white;
  }
  strong{
    width: 50%;
    color: black;
    float: left;
    display: block;
  }
  span{
    width: 50%;
    float: left;
  }
  ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: block;
    width: 100%;
  }
  li{
    padding: 0px;
    margin: 0px;
    display: block;
    height: 28px;
    clear: both;
  }
}
.horizontal-line{
  border-bottom: 1px solid rgb(248, 249, 250);
  margin-bottom: 20px;
}

.product_images_wrapper{
  position: relative;
  overflow: hidden;
}
.eyecatch{
  min-width: 100%;
  height: auto;
  margin: 0px auto;
  border: 1px solid #F2F2F2;
  padding: 10px;
  margin-bottom: 10px;
}
.corner-ribbon {
  width: 250px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  overflow: hidden;
  z-index: 99 !important;
}

.portfolio-item{
  .corner-ribbon {
    line-height: 25px;
    padding-left: 20px;
    font-size: 12px;
    top: 15px !important;
    right: -90px !important;
  }
}

@media(max-width: 480px) {
  .corner-ribbon {
    line-height: 25px;
    padding-left: 20px;
    font-size: 12px;
    top: 15px !important;
    right: -90px !important;
  }
}
.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
/* Different positions */

.corner-ribbon.top-right {
  /* top: 18px; */
    top:30px;
  right: -70px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(46deg);
  overflow: hidden;
}
.corner-ribbon.blue {
  background: #39d;
}

.corner-ribbon.red {
  background: #e43;
}

.corner-ribbon.green {
  background: #2c7;
}

.red{
  background: #e43;
  color: white;
}
.blue{
  background: #39d;
  color: white;
}
.green{
  background: #2c7;
  color: white;
}
.product_info_legend{
  background-color: rgb(233, 233, 233);
  color: rgb(94, 126, 183);
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  display: block;
  margin-top: 20px;
}

.no-chevron{
  width: 100%;
  text-align: center;
}

.chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  padding-top: 60px;
  margin-bottom: 60px;
  margin-top: 60px;
  height: auto;
  width: 100%;
  z-index: 0;
}

.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: #ffde15;
  -webkit-transform: skew(0deg, 4deg);
  -moz-transform: skew(0deg, 4deg);
  -ms-transform: skew(0deg, 4deg);
  -o-transform: skew(0deg, 4deg);
  transform: skew(0deg, 4deg);
  z-index: -1;
}
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #ffde15;
  -webkit-transform: skew(0deg, -4deg);
  -moz-transform: skew(0deg, -4deg);
  -ms-transform: skew(0deg, -4deg);
  -o-transform: skew(0deg, -4deg);
  transform: skew(0deg, -4deg);
  z-index: -1;
}​

.product_image{
  img {
    margin: auto;
    width: 100%;
    max-height: 400px;
    height: auto;
    display: block;
  }
}
.color_box{
  padding: 20px;
  border-radius: 5px;
}
.remove_padding{
  padding: 0px !important;
}
#mainNav .navbar-brand{
  color: #4bade8 !important;
}
#mainNav{
  background-color: rgba(255, 222, 21, 0.9) !important; 
  border-bottom: 1px solid rgba(33, 37, 41, 0.2);
  .nav-item a{
    height: 20px;
    line-height: 0;
    color: Black !important;
    font-weight: bold !important;  
  }
  .nav-item a:hover{
    background-color: rgba(33, 37, 41, 0.6) !important;
    border-radius: 10px;
    height: 20px;
    line-height: 0;
    color: white !important;
    font-weight: bold;
  }
}

.head-images-wrapper{
  margin-top: 100px;
}

.product-type-name{
  text-decoration: none;
  color: rgb(68,68,68);
  font-size: 4em;
  font-weight: bold;
}
.product-type-title{
  color: rgb(68,68,68);
  font-family: 'Encode Sans Semi Condensed', sans-serif !important;
  font-weight: 100;
}
h1, h2, h3, h4, h5, h6, span{
  color: rgb(68,68,68);
  font-family: 'Encode Sans Semi Condensed', sans-serif !important;
}
.card-box, .page-title-box{
  h1, h2, h3, h4, h5, h6{
    color: #ffde15 !important;
  }
}

.container {
  position: relative;
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    cursor: pointer;
  }
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

#avatar{
  margin-top: 10px;
}

.product-container{
  margin-top: 20px;
  color: rgb(68,68,68);
}

.table-chevron-head{
  background: rgba(68,68,68, 0.5);
  color: white
}

.table-no-chevron-head{
  background: #ffde15;
}

.table-chevron-body{
  background: white;
}

.table-no-chevron-body{
  background: white;
}

.product-text{
  text-decoration: none;
  color: rgb(68,68,68);
}

.hexagon {
  margin-top: 10px;
	width: 40px;
	height: 20px;
	background: #ffde15;
	position: relative;
  i{
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}

.hexagon-white{
  margin-top: 10px; 
  width: 40px;
	height: 20px;
  background: white;
  position: relative;
  i{
    color: #ffde15 !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }
}
.hexagon-white:before{
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid white;
}
.hexagon-white:after{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid white;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid #ffde15;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid #ffde15;
}
					
.type-info{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.product_details{
  i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
  }

  .left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
  }

  .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
  }

  .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
  }
}

.product_image{
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-height: 600px;
  width: 100%;
}

.phone-button{
  font-size: 3em;
  color: rgb(68,68,68);
  font-family: 'Encode Sans Semi Condensed', sans-serif !important;
  background: #ffde15;
  border-radius: 10px;
  padding: 15px auto;
  width: 340px !important;
  margin: 0 auto !important;
}

.searchbox{
  background-color: white;
  color: rgba(68,68,68, 0.5);
  height: 30px;
  border: none;
}

.product-description{
  color: rgb(68,68,68);
  font-family: 'arial helvetica', sans-serif !important;
  text-align: justify;
  padding: 20px 50px;
  width: 100%;
  margin: auto;
  strong{
    display: contents;
  }
  img{
    margin: 0 auto;
    width: 100%;
  }
  span{
    width: 100%;
  }
}

@media (max-width: 415px) {
  .product-container{
    img{
      width: 90%;
    }
  }
  .product-description{
    padding: 20px 10px;
    width: 100%;
  }
}

@media (max-width: 1025px){
  .no-show{
    display: none !important;
  }
}

@media (max-width: 321px){
  .phone-button{
    width: 90% !important;
  }
}


#product_list{
  margin: 20px 0px;
}

.promotion-image{
  width: 100%;
  margin: 20px auto;
}

.eyecatch-background{
  margin: 20px auto;
  padding: 30px;
  background-color: #F2F3F3;
}

.side-menu{
  z-index: 999;
}