.collection_radio_buttons_lable{
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 7px;
  display: inline-block;
}
.remove_fields {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  line-height: 10px;
  border-radius: 5px;
}
.remove_obj{
  position: relative;
}
.product_thumb{
  width: 120px;
  height: 100px;
}
